<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Expert Dynamix</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY --><!-- END CONTENT BODY -->
                <form method="POST" action="/cc">
                  <table class="table table-bordered" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="50" colspan="3" align="center">Create A Free Account. It's Easy and Free</td>
                    </tr>
                    <tr>
                      <td align="center"><table class="table table-bordered" width="200" border="1">
                        <tr>
                          <td colspan="2"><strong><font size="+2">Company Sign Up </font></strong></td>
                        </tr>
                        <tr>
                          <td><strong>First name</strong></td>
                          <td><input type="text" class="form-control" name="nombre" id="nombre"></td>
                        </tr>
                        <tr>
                          <td><strong>Last name</strong></td>
                          <td><input type="text" name="apellido" class="form-control" id="apellido"></td>
                        </tr>
                        <tr>
                          <td><strong>Company Name</strong></td>
                          <td><input type="text" name="comname" id="comname" class="form-control"></td>
                        </tr>
                        <tr>
                          <td><strong>Email </strong></td>
                          <td><input  class="form-control" type="text" name="email" id="email"></td>
                        </tr>
                        <tr>
                          <td><strong>Password </strong></td>
                          <td><input type="Password" class="form-control" name="password" id="password"></td>
                        </tr>
                        <tr>
                          <td>Capchat</td>
                          <td>&nbsp;</td>
                        </tr>
                      </table></td>
                      <td height="397" align="center">&nbsp;</td>
                      <td align="center"><table width="200" border="1" class="table table-bordered">
                        <tr>
                          <td colspan="2"><strong><font size="+2"> Individual Sign Up</font></strong></td>
                        </tr>
                        <tr>
                          <td><strong>First name</strong></td>
                          <td><input type="text" name="textfield5" class="form-control" id="textfield13"></td>
                        </tr>
                        <tr>
                          <td><strong>Last name</strong></td>
                          <td><input type="text" name="textfield5" id="textfield12" class="form-control"></td>
                        </tr>
                        <tr>
                          <td><strong>Email </strong></td>
                          <td><input type="text" class="form-control" name="textfield5" id="textfield10"></td>
                        </tr>
                        <tr>
                          <td><strong>Password </strong></td>
                          <td><input type="text" name="textfield5" class="form-control" id="textfield14"></td>
                        </tr>
                        <tr>
                          <td>Capchat</td>
                          <td>&nbsp;</td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td height="50" colspan="3" align="left"><input name="checkbox" type="checkbox" id="checkbox" value="s">
                        Yes, I understand and agree to the Expert Dynamix Terms of Services, Including the User Agreement and Privacy Policy
                        <input name="adm" type="hidden" id="adm" value="h"></td>
                    </tr>
                    <tr>
                      <td height="50" colspan="3" align="center"><input type="submit" name="button" id="button" class="btn-primary btn" value="Get Started"></td>
                    </tr>
                  </table>
                  <input type="hidden" name="MM_insert" value="form1">
                </form>
</div>
	</div>

</div>
</body>
</html>