<!-- views/index.ejs -->
<!doctype html>
<html>
<head><title>Expert Dynamix</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY --><!-- END CONTENT BODY -->
                <form method="POST" action="/cf">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="50" align="center"><p>Looking to hire? Sign up as client</p>
                        <p>Sign in with Facebook, Twitter, or Linked In</p></td>
                    </tr>
                    <tr>
                      <td height="397" align="center"><table width="400" border="1"class="table table-bordered" >
                        <tr>
                          <td width="16%"><strong>First name</strong></td>
                          <td width="84%"><input class="form-control"  type="text" name="nombre" id="nombre"></td>
                        </tr>
                        <tr>
                          <td><strong>Last name</strong></td>
                          <td><input class="form-control"  type="text" name="apellido" id="apellido"></td>
                        </tr>
                        <tr>
                          <td><strong>Email </strong></td>
                          <td><input class="form-control"  type="text" name="email" id="email"></td>
                        </tr>
                        <tr>
                          <td>Country</td>
                          <td><select name="pais" id="pais">
                          </select></td>
                        </tr>
                        <tr>
                          <td>Username</td>
                          <td><input class="form-control"  type="text" name="username" id="username"></td>
                        </tr>
                        <tr>
                          <td><strong>Password </strong></td>
                          <td><input class="form-control"  type="password" name="password" id="password"></td>
                        </tr>
                        <tr>
                          <td>Captchat</td>
                          <td>&nbsp;</td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td height="50" align="left"><table width="100%" border="0">
                        <tr>
                          <td><input name="tandc" type="checkbox" id="tandc" value="s">
                          <label for="tandc"></label></td>
                          <td>Yes, I understand and agree to the Expert Dynamix Terms of Services, Including the User Agreement and Privacy Policy
                          <input name="title" type="hidden" id="title" value="f"></td>
                        </tr>
                      </table></td>
                    </tr>
                    <tr>
                      <td height="50" align="center"><input type="submit" name="button" class="btn-primary btn" id="button" value="Get Started"></td>
                    </tr>
                  </table>
                  <input type="hidden" name="MM_insert" value="form1">
                </form>
    </div>
	</div>

</div>
</body>
</html>