<!-- views/index.ejs -->
<!doctype html>
<html>
<head><title>Expert Dynamix</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY --><!-- END CONTENT BODY -->
                <a href="login">Login</a>
                <font size="+3">

                <table width="80%" border="0" cellpadding="0" cellspacing="0" class="table table-bordered">
                  <tr>
                    <td align="center" bgcolor="#FFFFFF"><table width="200" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td height="200" align="center" bgcolor="#FFFFFF">&nbsp;</td>
                    </tr>
                    <tr>
                          <td align="center" bgcolor="#FFFFFF"><a href="cf"><input type="submit" name="button2" id="button2"  class="btn-circle btn btn-primary"value="Hire"></a></td>
                        </tr>
                        <tr>
                          <td bgcolor="#FFFFFF">I Want to Hire a Freelancer</td>
                        </tr>
                        <tr>
                          <td bgcolor="#FFFFFF">&nbsp;</td>
                        </tr>
                    </table></td>
                    <td height="500" align="center">&nbsp;</td>
                    <td align="center" bgcolor="#FFFFFF"><table width="200" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="200" align="center">&nbsp;</td>
                      </tr>
                      <tr>
                          <td align="center"><a href="cc"><input type="submit" name="button" id="button"  class="btn-circle btn btn-primary"value="Find Work"></a></td>
                      </tr>
                        <tr>
                          <td>I am Looking for Online Work</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                    </table></td>
                  </tr>
                </table></font>
            </div>
	</div>

</div>
</body>
</html>