<!doctype html>
<html>
<head>
        <meta charset="utf-8" />
  
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
     
        <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="shortcut icon" href="favicon.ico" /> </head>
    <!-- END HEAD -->

<body>
        
<div class="content">
            <div class="row">
                <div class="col-sm-12">
                  <div class="col-sm-12">
                      <div class="col-sm-2">
                        <table width="100%" border="0" class="table table-bordered">
                        <tr  onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href='pc'">
                          <td>Logo</td>
                          
                        </tr>
                        
                      </table>
                        </div>
                        <div class="col-sm-10">
                        <table width="100%" border="0" class="table table-bordered">
                        <tr>
                          <td width="14%" onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href=''">Message</td>
                          <td width="14%" onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href=''">Jobs</td>
                          <td width="14%" onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href='search'">Freelancers</td>
                          <td width="14%" onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href=''">Reports</td>
                          <td width="4%" onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href=''">My Connections</td>
                          <td width="14%" onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href=''">Select</td>
                          <td>Login</td>
                        </tr>
                        
                      </table>
                        </div>
                    </div><table width="100%" border="0" align="center">
                        <tr>
                          <td >
                    <div class="col-sm-12">
                    <div class="col-sm-12">
                      <table width="80%" border="0" align="center" class="table table-bordered">
                        <tr>
                          <td width="33%" height="89" align="center" valign="middle"><table width="200" border="1"class="table table-bordered"
 


                          >
                            <tr>
                              <td height="100">&nbsp;</td>
                            </tr>
                            <tr class="table table-bordered">
                              <td align="center"><h3>Post a Job</h3></td>
                            </tr>
                            <tr class="table table-bordered">
                              <td align="center" valign="top">Post a job so qualified freelancers can apply</td>
                            </tr>
                          </table></td>
                          <td width="33%" align="center" valign="middle"><table width="200" border="1"class="table table-bordered"

onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href='/search'"

                          >
                            <tr>
                              <td height="100">&nbsp;</td>
                            </tr>
                            <tr>
                              <td><h3>Search Freelancers</h3></td>
                            </tr>
                            <tr>
                              <td>Search freelancers to see global talent</td>
                            </tr>
                          </table></td>
                          <td align="center" valign="middle"><table width="200" border="1"class="table table-bordered">
                            <tr>
                              <td height="100">&nbsp;</td>
                            </tr>
                            <tr class="table table-bordered">
                              <td align="center"><h3>Get a Project Scope</h3></td>
                            </tr>
                            <tr class="table table-bordered">
                              <td align="center" valign="top">Hire freelancers to do a project scope for you so yo know how much time it will take and how much it will cost</td>
                            </tr>
                          </table></td>
                        </tr>
                      </table>
                      </div>
                      <div class="col-sm-12">
<table width="100%" border="0" class="table table-bordered">
                        <tr>
                          <td width="80%"><h4>Questions</h4></td>
                        </tr>
                        <tr>
                          <td>How do I get started?</td>
                        </tr>
                        <tr>
                          <td>How do I know I'm protected?</td>
                        </tr>
                        <tr>
                          <td>How do I pay?</td>
                        </tr>
                        <tr>
                          <td>What can I get done on Expert Dynamix?</td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                  </table>
             </div>
                  </div>
                  </td>
                        </tr>
                  </table>
                  
                </div>
            </div>
    </div>
    </body>

</html>