<!doctype html>
<html>
<head>
        <meta charset="utf-8" />
  <title>Expert Dynamix</title>
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
     
        <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="shortcut icon" href="favicon.ico" /> </head>
    <!-- END HEAD -->

    <body>
        
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12">
                      <div class="col-sm-2">
                        <table width="100%" border="0" class="table table-bordered">
                        <tr  onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href='pc'">
                          <td>Logo</td>
                          
                        </tr>
                        
                      </table>
                        </div>
                        <div class="col-sm-10">
                        <table width="100%" border="0" class="table table-bordered">
                        <tr>
                          <td width="14%" onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href=''">Message</td>
                          <td width="14%" onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href=''">Jobs</td>
                          <td width="14%" onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href='search'">Freelancers</td>
                          <td width="14%" onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href=''">Reports</td>
                          <td width="4%" onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href=''">My Connections</td>
                          <td width="14%" onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href=''">Select</td>
                          <td>Login</td>
                        </tr>
                        
                      </table>
                        </div>
                    </div>
                    <div class="col-sm-2">
                    <table width="100%" border="0" class="table table-bordered">
                        <tr>
                          <td width="100%">Photo</td>
                        </tr>
                        <tr>
                          <td width="100%">Overview</td>
                        </tr>
                          <td width="100%">Photos & Videos</td>
                        </tr>  
                        <tr>
                          <td width="100%">Posts & Ratings</td>
                        </tr> 
                        <tr> 
                          <td width="100%">Job History</td>
                        </tr>  
                        <tr>
                          <td width="100%">Last Sign in</td>
                        </tr>
                        
                      </table>
                    </div>
                    <div class="col-sm-10">
                    
                      <table width="100%" border="0" class="table table-bordered">
                        <tr>
                          <td width="14%"><h4>Name</h4></td>
                          <td width="86%"><%= user.nombre %> <%= user.apellido %></td>
                        </tr>
                        <tr>
                          <td>Title</td>
                          <td><%= user.titulo %></td>
                        </tr>
                      </table>
                      
			<div class="col-sm-12">
                <div class="col-sm-12">
                <table width="100%" border="0" class="table table-bordered">
                        <tr>
                          <td width="80%"><h4>Skill: <%= user.skill %></h4></td>
                          <td width="20%">Favorite</td>
                        </tr>
                        <tr>
                          <td>Country <%= user.pais %>, <%= user.ciudad %>, <%= user.utc %></td>
                          <td>Buttons</td>
                        </tr>
                      </table>
                </div>
                <div class="col-sm-8">
          		<table width="100%" border="0" class="">
                        <tr>
                          <td width="100%"><h3>Overview</h3></td>
                          
                        </tr>
                        <tr>
                          <td width="100%"><table width="100%" border="0" class="table table-bordered">
                      		<tr>
                              <td width="100%">Description</td></tr><tr>
                              <td><%= user.description %></td>
                            </tr>
                            
                            
                          </table></td>
                          
                        </tr>
                        <tr>
                          <td width="100%">

                            <table width="100%"  border="0"class="table table-bordered">
                                     
                                      <tr>
                                        <td>
                                            <table width="100%" border="0" class="table table-bordered">
                                                
                                                <tr>
                                                  <td>

                                                  Include Photos or Videos (Optional)

                                                    </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        
                                    </table>

                          </td>
                          
                        </tr>
                        <tr>
                          <td width="100%">

                            <table class="table table-bordered"width="100%"  border="0">
                                  <tr>
                                    <td>Posts and Ratings</td>
                                  </tr>
                                  <tr>
                                    <td> 
                                    jobs posted
                                    </td>
                                  </tr>
                                </table>

                          </td>
                          
                        </tr>
                        <tr>
                          <td width="100%">
                      </td>
                          
                        </tr>
                        
                        
                      </table>
          		</div>
                <div class="col-sm-4">
          		<table width="100%" border="0" class="table table-bordered">
                        <tr>
                          <td width="100%"><h4>Snapshot</h4></td>
                          </tr>
                          <tr>
                          <td width="100%">
                          <table width="100%" border="0" class="table table-bordered">
                        <tr>
                          <td width="74%">
                          Jobs: <%= user.jobs %>
                          </td>
                          <td width="26%">Hours: <%= user.h_trab %></td>
                          
                        </tr>
                        <tr>
                        <td colspan="2">
                          Reviews: <%= user.reviews %>
                          </td></tr>
                          <tr>
                        <td colspan="2">
                          Freelancers: <%= user.clients %>
                          </td></tr>
                          <tr>
                        <td colspan="2">
                          Payments: <%= user.earnigs %>
                          </td></tr>
                        </table>
                          </td>
                        </tr>
                        <tr>
                          <td width="100%"><h4>Identity</h4></td>
                          
                        </tr>
                        <tr>
                          <td><table width="100%" class="table table-bordered" border="1">
                            <tr>
                              <td>Username: <%= user.username %></td>
                            </tr>
                            <tr>
                              <td>Type: <%= user.type %></td>
                            </tr>
                            <tr>
                              <td>Member Since: <%= user.fecha %></td>
                            </tr>
                            <tr>
                              <td>Expert Dynamix URL: <%= user.url %></td>
                            </tr>
                            <tr>
                              <td>Verifications: <%= user.verifi %></td>
                            </tr>
                            <tr>
                              <td>Social Networks Added</td>
                            </tr>
                          </table></td>
                        </tr>
                       
                        
                      </table>
          		</div>
          	</div>
            
                  </div>
                </div>
            </div>
        </div><div class="col-sm-12">
            <table width="100%" border="0" class="table table-bordered">
                        <tr>
                          <td width="100%"><h3>Job History</h3></td>
                          
                        </tr><% historial.forEach(function(historials) { %>
                        <tr>
                          <td width="100%"><table width="100%" class="table table-bordered" border="1">
                              <tr>
                                <td colspan="5">Job Title: <%= historials.job %></td>
                              </tr>
                              <tr>
                                <td>Date Started: <%= historials.d_started %></td>
                                <td>Date Completed: <%= historials.d_completed %></td>
                                <td>Category: <%= historials.category %></td>
                                <td>Hours Worked: <%= historials.h_worked %></td>
                                <td>Job Success: <%= historials.job_success %></td>
                              </tr>
                          </table></td>
                          
                        </tr><% }); %>
                        
                      </table>
            </div>
    </body>

</html>