<!doctype html>
<html>
<head>
        <meta charset="utf-8" />
  
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
     <title>Expert Dynamix</title>
        <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel="shortcut icon" href="favicon.ico" /> </head>
    <!-- END HEAD -->

<body>
        
<div class="content">
            <div class="row">
              <div class="col-sm-12">
                <div class="col-sm-12">
                      <div class="col-sm-2">
                        <table width="100%" border="0" class="table table-bordered">
                        <tr  onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href='pc'">
                          <td>Logo</td>
                          
                        </tr>
                        
                      </table>
                        </div>
                        <div class="col-sm-10">
                        <table width="100%" border="0" class="table table-bordered">
                        <tr>
                          <td width="14%" onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href=''">Message</td>
                          <td width="14%" onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href=''">Jobs</td>
                          <td width="14%" onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href='search'">Freelancers</td>
                          <td width="14%" onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href=''">Reports</td>
                          <td width="4%" onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href=''">My Connections</td>
                          <td width="14%" onMouseOver='this.style.background="#C6CFDE"' onMouseOut='this.style.background="#FFFFFF"' style="cursor: pointer"
            onClick="location.href=''">Select</td>
                          <td>Login</td>
                        </tr>
                        
                      </table>
                        </div>
                    </div>
                  </div><table width="90%" border="1" align="center" class=" table table-bordered">
                            
                            <tr>
                              <td width="19%" rowspan="3"><table class="table table-bordered" width="200" border="1">
                                <tr>
                                  <td>Everyone
                                    <table width="200" border="1" class="table table-bordered">
                                      <tr>
                                        <td>Individuals</td>
                                      </tr>
                                      <tr>
                                        <td>Companies</td>
                                      </tr>
                                      <tr>
                                        <td>&nbsp;</td>
                                      </tr>
                                  </table></td>
                                </tr>
                                <tr>
                                  <td>All Categories
                                    <table width="200" border="1" class="table table-bordered">
                                      <tr>
                                        <td><form name="form2" method="post" action="">
                                          <select name="select2" id="select2">
                                          </select>
                                        </form></td>
                                      </tr>
                                  </table></td>
                                </tr>
                                <tr>
                                  <td>All Freelance Locations
                                    <table width="200" border="1" class="table table-bordered">
                                      <tr>
                                        <td>Country</td>
                                      </tr>
                                      <tr>
                                        <td>City, Zip</td>
                                      </tr>
                                      <tr>
                                        <td>State</td>
                                      </tr>
                                      <tr>
                                        <td>Region</td>
                                      </tr>
                                  </table></td>
                                </tr>
                                <tr>
                                  <td>All Feedback
                                    <table width="200" border="1" class="table table-bordered">
                                      <tr>
                                        <td>At least 5 stars</td>
                                      </tr>
                                      <tr>
                                        <td>At least 4 stars</td>
                                      </tr>
                                      <tr>
                                        <td>At least 3 stars</td>
                                      </tr>
                                      <tr>
                                        <td>At least 2 stars</td>
                                      </tr>
                                  </table></td>
                                </tr>
                                <tr>
                                  <td>Reviews
                                    <table width="200" border="1" class="table table-bordered">
                                      <tr>
                                        <td>At least 5</td>
                                      </tr>
                                      <tr>
                                        <td>At least 10</td>
                                      </tr>
                                      <tr>
                                        <td>At least 15</td>
                                      </tr>
                                  </table></td>
                                </tr>
                              </table></td>
                              <td colspan="2"><form name="form1" method="post" action="">
                                <input type="text" name="nombreusuario" id="nombreusuario" class="form-control">
                                <input type="submit" name="button" id="button" value="Search" class="btn btn-primary">
                              </form></td>
                            </tr>
                            <tr>
                              <td colspan="2"><table width="100%" border="0" class="table table-bordered">
                                <tr>
                                  <td colspan="3">Any Hourly Rate</td>
                                  <td width="24%">Sort By:</td>
                                </tr>
                                <tr>
                                  <td width="10"><input name="textfield2" type="text" id="textfield2" size="5" maxlength="3" class=" form-control"></td>
                                  <td width="10"><input name="textfield3" type="text" id="textfield3" size="5" maxlength="3" class=" form-control"></td>
                                  <td width="39%"><input type="submit" name="button2" id="button2" value="Go" class="btn btn-primary"></td>
                                  <td><select name="select3" id="select3" class=" form-control">
                                    <option>Relevance</option>
                                    <option>Sort</option>
                                  </select></td>
                                </tr>
                              </table></td>
                            </tr>
                            <tr>
                              <td colspan="2" valign="top"><table width="100%" border="1" class="table table-bordered">
                                <tr>
                                  <td colspan="6">
                                    <table width="100%" border="1" class="table table-bordered">
                                      <tr>
                                        <td rowspan="3">:-)</td>
                                        <td>&nbsp;</td>
                                        <td width="11"><input type="submit" name="button3" id="button3" value="Save" class="btn btn-primary"></td>
                                        <td width="22"><input type="submit" name="button4" id="button4" value="Invite to Job" class="btn btn-primary"></td>
                                      </tr>
                                      <tr>
                                        <td colspan="3">&nbsp;</td>
                                      </tr>
                                      <tr>
                                        <td colspan="3">Skill</td>
                                      </tr>
                                    </table>
                                        
                                      </td>
                                 
                                </tr>
                                <tr>
                                  <td width="16%">Country: </td>
                                  <td width="10%">Rate</td>
                                  <td width="10%">Jobs</td>
                                  <td width="25%">Total Earnings</td>
                                  <td width="20%">Hours Worked</td>
                                  <td width="19%">Ratings</td>
                                </tr>
                                <tr>
                                  <td colspan="6"><table width="100%" border="0" class="table">
                                    <tr>
                                      <td>Description</td>
                                    </tr>
                                    <tr>
                                      <td>&nbsp;</td>
                                    </tr>
                                  </table></td>
                                </tr>
                                <tr>
                                  <td colspan="6"><table width="100%" border="0"class="table">
                                    <tr>
                                          <td width="79%">Portfolio</td>
                                          <td width="21%">Status</td>
                                      </tr>
                                  </table></td>
                                </tr>
                              </table></td>
                            </tr>
                            </table>
                  
                </div>
            </div>
    </div>
    </body>

</html>